Firstly, You need to install VB and then install UBUNTU on it.
Secondly, You need to download these programs :

pox controller
mininet
wireshark
tcpdump
xterm
netcat
nmap
tracroute
wing ftp server
hping3